.video_container{
    color: white;
    margin-top: 250px;
    margin-left: 110px;
    /* padding: 30px; */
}
.video_section{
    color: white;
    /* border-style: solid;
    border-color: white; */
    display: flex;
    margin-left: -20px;
    /* overflow-x: scroll; */
}
.video_card_container{
    /* border-color: white;
    border-style: solid; */
    margin-left: 20px;
    border-radius: 5px;
}
.video_card_container:hover{
    box-shadow: 2px 2px 7px 7px rgb(205, 205, 205);
}
.video_main_section{
    margin-top: -230px;
    margin-left: 50px;
}
.video-heading{
    color: white;
    border-style: solid;
    border-color: #f3ce13;
    border-width: 0px 0px 0px 5px;
    padding-left: 10px;
}
/* .video_main_section>h1{
    margin-left: 50px;
} */