.movie {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
}

.movie_intro {
    width: 80%;
}

.movie_backdrop {
    margin-top: 10px;
    width: 100%;
    height: 450px;
    object-fit:cover;
    object-position: 0 35%;
    border-radius: 5px;
    background-color: black;
    opacity: 0.3;
}

.movie_detail {
    align-items: center;
    width: 75%;
    display: flex;
    position: relative;
    bottom: 225px;
}

.movie_detailleft {
    margin-right: 30px;
}
.movie_posterbox{
    padding: -3px;
}
.movie_poster {
    width:300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
}

.movie_detailright {
    color: white;
    display: flex;
    flex-direction: column;
    height: 450px;
    justify-content:space-between ;
}

.movie_detailrighttop > div{
    text-shadow: 0px 0px 5px #000000;
    margin-bottom: 6px;
}

.movie_name {
    color: white;
    font-weight: 600;
    font-size: 3rem;
}
.movie_rating_container{
    display: flex;
}
.movie_ratingaverage{
    margin-right: 5px;
}
.movie_rating{
    margin-left: 10px;
    margin-top: 1px;
}
.movie_line{
    margin-left: 5px;
}
.movie_votecount {
    color: white;
    margin-left: 1rem;
}
.movie_genres {
    color: white;
    margin: 1.25rem 0;
    display: flex;
    margin-top: -10px;
}

.movie_genre {
    padding: .5rem;
    border: 2px solid white;
    border-radius: 20px;
    margin-right: 1rem;
}


.movie_detailrightbottom {
    margin: 2rem 0;
    flex: 0.8;
}

.synopsistext {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
    font-weight: 600;
    display: flex;
    position: relative;
    align-items: center;
    margin-top: -10px;
    margin-right: 10px;
}
.anchor_button{
    margin-left: 10px;
    margin-top: -5px;
}
.movie_link{
    color: white;
    margin-top: px;
    border-style: solid;
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    border-radius: 50px;
    border-width: 2px;
    border-color: #f3ce13;
}
.synopsistext > div:last-of-type {
    color: white;
    margin-left: auto;
}
.overview_container{
    display: flex;
}
.production{
    margin-left: 150px;
    margin-top: -30px;
}
.production>h1{
    /* font-style: italic; */
    /* margin-top: -180px; */
    font-weight: 600;
    padding: 10px;
    /* background-color: #f3ce13; */
    text-decoration: underline;
    text-underline-offset: 10px;
}
.production_text{
    color: white;
    margin-left: 20px;
}
.production_name{
    margin-top: 3px;
}
.production_country{
    margin-top: -10px;
}
.production_item_section{
    display: flex;
}
.prod_image_container{
    background-color: white;
    width: 80px;
    margin-bottom: 20px;
    display: flex;
}
.production_section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.prod_image_container>img{
    height: 50px;
    width:100%
}
.production_container{
    border-style: solid;
    color: white;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    margin-bottom: 10px;
    border-bottom-width: 0px;
    width: 300px;
}
.production_heading{
    border-style: solid;
    color: white;
    /* margin-top: -180px; */
    margin-bottom: 20px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    width: 1240px;
    border-color: rgb(117, 116, 116);
    border-bottom-width: 1px;
}
.page_heading{
    border-style: solid;
    border-color: #f3ce13;
    border-width: 0px 0px 0px 5px;
    padding-left: 10px;
}
.video_container{
    color: white;
}
.reviews>h1{
    color: white;
}
.seasons_container{
    margin-top: -200px;
}