.card_page{
    padding: 20px;
}
.cards_main{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    padding: 50px;
    gap: 4px;
    margin-top: -70px;
}
.card_description{
    color: white;
}
.card_image{
    position:relative;
    transition: 0.3s ease-in-out;
}
.card_image:hover{
    transform: translateY(-15px);
    /* box-shadow: 2px 2px 7px 7px rgb(205, 205, 205); */
}
.card_image>img{
    border-radius: 5px;
    height: 250px;
}
/* .card_container{
    border-style: solid;
    border-color: rgb(117, 116, 116); 
    border-width: 1px;
    padding: -10px;
    border-radius: 5px;
    height: 97.5%;
    width: 97.5%;
} */
.card_description>p{
    font-size: 12px;
}
.card_description>h4{
    margin-top: -2px;
    color: white;
}
.card_button{
    display:flex;
    justify-content: space-between;
}
.card_button_{
    margin: 50px;
    background-color: rgb(144, 144, 144);
    border-width: 0px;
    border-radius: 50px;
    padding: 20px;
    cursor: pointer;
}
.page_title{
    color: white;
    margin-left: 50px;
    margin-bottom: 40px;
    cursor: pointer;
    border-style: solid;
    border-color: #f3ce13;
    border-width: 0px 0px 0px 5px;
    padding-left: 10px;
}
.card_container:hover{
   box-shadow: 2px 2px 7px 7px rgb(205, 205, 205);
}
.card_button:hover{
    color: rgb(155, 155, 35);
}
.section_section{
    display: flex;
    justify-content: space-between;
    /* border-style: solid;
    border-color: aliceblue; */
}
.select_bar{
    color: white;
    background-color: black;
}
.latest_section{
    color: white;
}
.latest-section_image{
    margin-top: 50px;
}
.section_section>h1{
    margin-left: 75px;
}
.section_toggle{
    margin-top: 30px;
    margin-right: 75px;
}
.page_title>span{
    color:#f3ce13;
}
.section_toggle>select{
    border-color: black;
    font-size: 18px;
    border-radius: 5px;
    padding: 3px;
    margin-left: 5px;
}
.section_toggle>select:hover{
    background-color: rgb(60, 60, 60);
}
.cards_recommendations{
    margin-left: 80px;
    margin-top: -20px;
}
.tv_recommendations{
    margin-left: 80px;
    margin-top: 180px;
}
.search-image{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.disabledBtn{
    cursor: not-allowed;
}
/* .page_title>span{
    color: #f3ce13;
} */
.tv_section{
    margin-top: -60px;
}
.page_title_tv{
    color: white;
    margin-left: 70px;
    margin-bottom: 40px;
    cursor: pointer;
    border-style: solid;
    border-color: #f3ce13;
    border-width: 0px 0px 0px 5px;
    padding-left: 10px;
}