.Footer_main{
    border-style: solid;
    color: white;
    margin: 70px 70px 0px 70px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-top-width: 0px;
    border-color: rgb(117, 116, 116);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.Footer_main>h1{
    color: white;
}
.button{
    display: flex;
    justify-content: center;
}
.button>button{
    background-color: #f5c518;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.logos{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-left: -40px;
}
.logos>a{
    margin-left: 30px;
    /* border-style: solid; */
    border-radius: 30px;
    padding-top: 5px;
    padding: 10px;
}
/* .footer_content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
} */
/* .footer_body{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    border-style: solid;
    width: 300px;
} */
.footer_main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 50%;
    margin-bottom: 20px;
}
.footer_main>a{
    text-decoration: none;
    color: white;
}
.footer_content>a{
    margin-bottom:15px;
}
.copyrights{
    display: flex;
    justify-content: center;
}
/* .copyrights>div{
    border-style: solid;
} */
.copyrights>div>p{
    font-size: 12px;
}
.amazon{
    font-weight: 700;
    font-family: sans-serif;
}
.footer_main>a:hover{
    color: #f5c518;
}
.logos>a:hover{
    background-color: rgb(42, 42, 42);
}

@media screen and (max-width: 950px){
    .footer_main{
        flex-direction: column;
    }
    .footer_page_name{
        margin-bottom: 20px;
    }
}